[ROW_CONFIG]
H=string+string*+string*+date*|%m/%d/%Y+string*+date*|%m/%d/%Y+string*+string*
D=string+string*+string*+string*+string*+string*+date*|%m/%d/%Y+date*|%m/%d/%Y+string*+string*+string*+string
P=string+string*+string*+string*+string*+string*+string*+string*+string*
A=string+string*+string*+string*
F=string+string*+string*

[COLUMN_NAMES]
H=hdrRecordIdentifier+hdrPipelineName_a+hdrCompanyID_b+hdrReportDate_c+hdrOriginalRevisedInd_d+hdrFirstDayofQtr_e+hdrUnitMeasForTransport_f+hdrUnitMeasForStorage_g
D=detRecordIdentifier+detShipperName_j+detShipperID_ya+detShipperAffiliationInd_yb+detRateSchedule_k+detContrNumber_yc+detContrEffDate_l+detContrPrimExpDate_m+detDaysToPosContrExp_n+detNegotiatedRatesInd_yd+detMaxDailyTransport_o+detMaxDailyStorage_p
P=pntRecordIdentifier+pntIdentifierCode_yh+pntPointName_yi+pntPointQualifier_yj+pntPointIdentificiationCode_yk+pntZoneName_yl+pntMaxDailyTransport_ym+pntMaxDailyStorage_yn+pntFootnoteID_yo
A=agRecordIdentifier+agAgentName_ye+agAffiliationIdentifier_yf+agFootnoteID_yg
F=ftBlockIdentifier+ftFootnoteNumber_R+ftFootnoteText_s

[TABLE_NAMES]
H=tblIOCHeaderNew
D=tblIOCDetailsNew
P=tblIOCPointsNew
A=tblIOCAgentsNew
F=tblIOCFootnotesNew

[COLUMN_LINKS]
D=detLinktoHdrCompanyID->H:2
A=agLinkToHdrCompanyID->H:2+agLinkToDetContrNumber->D:5
P=pntLinkToHdrCompanyID->H:2+pntLinkToDetContrNumber->D:5
F=ftLinkToHdrCompanyID->H:2

[CONFIG]
ROW_TYPES=H,D,P,A,F
INPUT_FOLDER=input
IGNORE_EMPTY_LINES=1